$padding: 10px;
$minWidth: 100px;

nav {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  a {
    min-width: $minWidth;
    padding: $padding;
    text-decoration: none;
    color: black;
    text-align: center;
    &.active {
      //font-weight: bold;
      border-top: 1px solid;
      border-left: 1px solid;
      border-right: 1px solid;
      outline: 2px solid white;
    }
    //border: 1px solid lightgray;
  }
}
